Diagnostics:
  Suppress:
    - conflicting_types
    - builtin_definition
    - template_different_type_constraint
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone*
      - cppcoreguidelines*
      - modernize*
      - readability*
    Remove:
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-pro-type-reinterpret-cast
      - readability-magic-numbers
      - modernize-avoid-c-arrays
      - bugprone-easily-swappable-parameters
      - concurrency-mt-unsafe
      - cppcoreguidelines-pro-type-vararg
      - misc-non-private-member-variables-in-classes
      - readability-function-cognitive-complexity
      - readability-identifier-length
