Diagnostics:
  Suppress:
    - conflicting_types
    - builtin_definition
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone*
      - cppcoreguidelines*
      - modernize*
      - readability*
    Remove:
      - bugprone-easily-swappable-parameters
      - concurrency-mt-unsafe
      - misc-non-private-member-variables-in-classes
      - readability-identifier-length
      - readability-function-cognitive-complexity
